body{
    margin: 0px;
    background-color: black;
    font-family: 'Roboto';
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-style: normal;
    font-weight: normal;
}

h3{
    color: white;
    text-align: center;
    font-size: 20px;
}

nav{
    background-color: rgb(116, 42, 42);
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    padding: 20px;
    height: 80px;
}

.menu-bars{
    color: white;
    padding-right: 50px;
    font-size: 30px;
}

.menu-txt{
    display: none;
}

main{
    grid-area: main;
}

.welcome{
    display: flex;
    text-align: start;
    color: white;
}

.welcome-img{
    width: 100%;
    height: 500px;
    background-image: url("../imgs/web/Banner3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-txt{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
}

.welcome-txt button{
    margin-top: 20px;
    background-color: #a93f3f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.4s ease;
}

#bio{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 80px;
}

#bio img{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

#bio p{
    width: 300px;
    text-align: center;
    padding-top: 20px;
}

#portfolio{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#portfolio img{
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.2s ease-in;
}

#portfolio img:hover{
    filter: grayscale(0%);
}

#portfolio-logos img{
    width: 100%;
    padding-top: 40px;
}

#portfolio-logos{
    width: 100%;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 50vh;
    text-align: left;
}

#contact h3{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

#contact form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 75%;
    max-width: 600px;
}

#contact input, #contact textarea, #contact button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#contact button {
    margin-top: 30px;
    background-color: #a93f3f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

#contact button:hover {
    background-color: #b31515;
}

footer{
    grid-area: footer;
    background-image: url("../imgs/web/FooterImg_D.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    color: white;
    text-align: center;
    background-color: rgb(40, 40, 40);
    padding: 30px;
}

footer a{
    color: white;
}

footer i{
    font-size: 30px;
    padding: 0px 20px;
}

footer p{
    text-align: center;
}

@media (min-width: 576px){
    body{
        display: grid;
        grid-template-areas: 'nav main'
        'footer footer';
    }

    .logo img{
        padding: 15px;
        height: 70px;
    }

    nav{
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0; 
        left: 0; 
        height: 100vh;
        width: auto;
    }

    .menu-bars i{
        display: none;
    }

    .menu-txt{
        display: flex;
        flex-direction: column;
        gap: 10pxpx;
    }

    .menu-txt a{
        text-decoration: none;
        color: white;
    }

    main {
        margin-left: 220px;
    }

    .welcome-img{
        background-position: left;
        justify-content: start;
        position: relative;
    }

    .welcome-txt{
        padding-left: 100px;
        width: 30%;
        text-align: left;
    }

    #bio{
        flex-direction: row;
    }

    #bio p{
        width: 300px;
        text-align: right;
        padding-left: 50px;
    }

    #portfolio{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    #portfolio img{
        width: 30%;
        transition: scale 0.3s ease-in;
    }

    #portfolio img:hover{
        scale: 1.05;
    }
}